#titleSeachPage-filtersToggle {
  display: none;
}

#productNotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#productNotFound img {
  width: 300px;
}

#productNotFound h3 {
  font-size: xx-large;
  font-weight: normal;
}

.searchFiltersSections .range {
  display: flex;
  flex-wrap: wrap;
}

.starsRating {
  background: none;
  border: none;
  color: #ff9900;
  display: flex;
  padding: 3px;
}

.starsRating:hover {
  cursor: pointer;
}

/* Old styling  ************* */
.searchProducts {
  display: flex;
  flex-wrap: wrap;
  /* flex-grow: 1;
  justify-content: space-evenly; */
  height: 86vh;
  overflow-x: hidden;
}

.searchProducts .paging {
  flex-basis: 100%;
}

.searchProducts .products {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: solid 0.1px #009688;
  margin: 10px;
  flex-basis: 20%;
  justify-content: flex-end;
}

.searchProducts h3 {
  font-weight: normal;
  font-size: medium;
  margin: 2px;
}

.searchProducts .products img {
  width: 200px;
  max-height: 300px;
}

.titleSearchPage {
  display: flex;
  flex-direction: column;
}

.titleSearchPageWrapper {
  display: flex;
}

.searchFilters {
  flex-basis: 20%;
  padding: 5px;
  flex-shrink: 0;
  height: 86vh;
  overflow-x: hidden;
}

.searchFiltersSections {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
.searchFiltersSections .filterOptions {
  display: flex;
  flex-direction: column;
  padding-left: 4px;
  max-height: calc(100vh - 9rem);
  overflow-y: auto;
}

.searchFiltersSections .filterOptions label {
  display: flex;
  justify-content: space-between;
  margin: 1px;
  padding: 1px;
  align-items: center;
}
.searchFiltersSections .filterTitle {
  font-size: large;
  font-weight: bold;
}

.titleSearchPageHeader {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .titleSearchPageHeader {
    flex-wrap: wrap;
    padding: 0 7px;
  }

  #mobile-flex-show {
    display: flex;
  }
  .searchFilters {
    position: absolute;
    flex-direction: column;
  }

  #titleSeachPage-filtersToggle {
    display: block;
  }

  .searchProducts {
    justify-content: center;
    height: 100%;
    overflow-x: auto;
  }

  .searchProducts .products {
    flex-basis: 100%;
    flex-grow: 1;
  }
}
