#serviceMobileDashboardNav {
  display: none;
}

@media only screen and (max-width: 900px) {
  #serviceMobileDashboardNav {
    background: #41c9b9;
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
    position: sticky;
  }

  #serviceMobileDashboardNav .link {
    padding: 20px 3px;
    text-align: center;
  }
}
